@import "tailwindcss";

body {
  background-color: black;
  color: white
}

@layer utilities {
  .bg-grid {
    background-color: black;
    background-image:
      linear-gradient(to right, #1c1917 1px, transparent 1px),
      linear-gradient(to bottom, #1c1917 1px, transparent 1px);
    background-size: 30px 30px;
  }
}